<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @game.title %>
    </h2>
    <div class="item-img-content">
      <% if @game.images.attached? %>
        <% @game.images.each do |image| %>
          <%= image_tag image, class: "item-box-img" %>
        <% end %>
      <% end %>
    </div>
    <div class="item-price-box">
      <span class="item-price">
        <%= "¥#{@game.price}" %>
      </span>
      <span class="item-postage">
        <%= @game.genre.name %>
      </span>
    </div>

    <% if user_signed_in? %>
      <% if current_user.id == @game.user.id %>
        <%= link_to '商品の編集', edit_game_path(@game.id), method: :get, class: "item-red-btn" %>
        <p class="or-text">or</p>
        <%= link_to '削除', game_path(@game.id), data: { turbo_method: :delete }, class:"item-destroy" %>
      <% end %>
    <% end %>

    <div class="item-explain-box">
      <span><%= @game.text %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">使用OS</th>
          <td class="detail-value"><%= @game.os.name %></td>
        </tr>
        <tr>
          <th class="detail-item">ブランド</th>
          <td class="detail-value"><%= @game.brand %></td>
        </tr>
        <tr>
          <th class="detail-item">公式サイト</th>
          <td class="detail-value"><%= link_to @game.official, @game.official, target: "blank" %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り 0</span>
      </div>
      <div class="report-btn">
        <%= image_tag "" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <span>不適切な商品の通報</span>
      </div>
    </div>
  </div>
  <%# /商品の概要 %>

  <div class="comment-box">
    <form>
      <textarea class="comment-text"></textarea>
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
      <button type="submit" class="comment-btn">
        <%= image_tag "" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
        <span>コメントする</span>
      </button>
    </form>
  </div>
  <div class="links">
    <a href="#" class="change-item-btn">
      ＜ 前の商品
    </a>
    <a href="#" class="change-item-btn">
      後ろの商品 ＞
    </a>
  </div>
  <a href="#" class="another-item"><%= @game.genre.name %>をもっと見る</a>
</div>

<%= render "shared/footer" %>
